/*
    See the JupyterLab Developer Guide for useful CSS Patterns:
    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

/* Increase the top panel height to accommodate larger logo */
#jp-top-panel {
  min-height: 60px !important;
}

/* Make the main logo larger and more prominent */
#jp-MainLogo {
  background-image: url(./images/kbase_logo_rect.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
  width: 175px !important;
  height: 55px !important;
  min-width: 175px !important;
  min-height: 55px !important;
  flex-shrink: 0 !important;
  margin-right: 16px !important;
}

#jp-MainLogo > svg {
  visibility: hidden;
}

#jp-RetroLogo {
  background-image: url(./images/kbase_logo_rect.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 175px !important;
  height: 70px !important;
  min-width: 175px;
  min-height: 70px;
}

#jp-RetroLogo > svg {
  visibility: hidden;
}

#jp-NotebookLogo {
  background-image: url(./images/kbase_logo_rect.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 175px !important;
  height: 70px !important;
  min-width: 175px;
  min-height: 70px;
}

#jp-NotebookLogo > svg {
  visibility: hidden;
}

/* Token expiration warning styles */
.kbase-token-warning,
.kbase-token-expired {
  padding: 8px 0;
  line-height: 1.5;
}

.kbase-token-warning p,
.kbase-token-expired p {
  margin: 8px 0;
}

.kbase-token-warning p:first-child,
.kbase-token-expired p:first-child {
  margin-top: 0;
}

.kbase-token-warning p:last-child,
.kbase-token-expired p:last-child {
  margin-bottom: 0;
}

.kbase-token-expired {
  color: var(--jp-error-color1);
}
