/*
    See the JupyterLab Developer Guide for useful CSS Patterns:
    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

/* Top panel sizing and alignment */
#jp-top-panel {
  min-height: 48px !important;
  align-items: flex-end !important;
}

/* Make the main logo larger and more prominent */
#jp-MainLogo {
  background-image: url(./images/kbase_logo_rect.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
  width: 160px !important;
  height: 36px !important;
  min-width: 160px !important;
  min-height: 36px !important;
  flex-shrink: 0 !important;
  margin: 1px 16px 4px 8px !important;
  order: -100 !important;
}

/* Dark mode: use white logo */
[data-jp-theme-light='false'] #jp-MainLogo {
  background-image: url(./images/kbase_logo_rect_dark.png);
}

#jp-MainLogo > svg {
  visibility: hidden;
}

#jp-RetroLogo {
  background-image: url(./images/kbase_logo_rect.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 175px !important;
  height: 70px !important;
  min-width: 175px;
  min-height: 70px;
}

#jp-RetroLogo > svg {
  visibility: hidden;
}

[data-jp-theme-light='false'] #jp-RetroLogo {
  background-image: url(./images/kbase_logo_rect_dark.png);
}

#jp-NotebookLogo {
  background-image: url(./images/kbase_logo_rect.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 175px !important;
  height: 70px !important;
  min-width: 175px;
  min-height: 70px;
}

#jp-NotebookLogo > svg {
  visibility: hidden;
}

[data-jp-theme-light='false'] #jp-NotebookLogo {
  background-image: url(./images/kbase_logo_rect_dark.png);
}

/* Profile widget in header */
.berdl-profile-widget-container {
  display: flex;
  align-items: center;
  position: absolute !important;
  left: 185px; /* Position after the logo */
  top: 2px;
}

.berdl-profile-widget {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 2px;
  border-bottom: var(--jp-border-width) solid var(--jp-border-color0);
}

.berdl-profile-text {
  font-size: 11px;
  color: var(--jp-ui-font-color2);
  white-space: nowrap;
}

.berdl-profile-text strong {
  color: var(--jp-ui-font-color1);
}

.berdl-profile-respawn-link {
  font-size: 11px;
  color: #2196f3 !important;
  cursor: pointer !important;
  text-decoration: none !important;
}

.berdl-profile-respawn-link:hover {
  color: #1976d2 !important;
  text-decoration: underline !important;
}

/* Change profile dialog */
.berdl-change-profile-dialog {
  padding: 8px 0;
  line-height: 1.5;
}

.berdl-change-profile-dialog p {
  margin: 8px 0;
}

/* Token expiration warning styles */
.kbase-token-warning,
.kbase-token-expired {
  padding: 8px 0;
  line-height: 1.5;
}

.kbase-token-warning p,
.kbase-token-expired p {
  margin: 8px 0;
}

.kbase-token-warning p:first-child,
.kbase-token-expired p:first-child {
  margin-top: 0;
}

.kbase-token-warning p:last-child,
.kbase-token-expired p:last-child {
  margin-bottom: 0;
}

.kbase-token-expired {
  color: var(--jp-error-color1);
}
